html,
body {
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--theme-clr) !important;
  color:white !important;
  height:200rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  --font-400:1rem;
  --font-600:1.5rem;
  --font-xl:5rem;
  --theme-clr:hsl(254, 25%, 21%);
}
.test{
  background-color: blue;
  transition-duration: 5s;
}
.test2{
  margin-top:20rem;

}