
.profileImg{ 
  border-radius:60%;
  border:.2rem solid var(--bs-dark) !important;  

}
.profileImgCover {
  width:50%;
  margin:0 auto;
  text-align: center;
} 
.baseShadow {
  box-shadow:
  -2px 0 10px 2px hsl(253, 25%, 50%),
  2px 0 10px 2px hsl(253, 25%, 50%)  
  ;
  
  background-color:var(--theme-foreground-clr);
  transition-duration:.5s
}
.baseShadow:hover {
  box-shadow:
  -2px 0 10px 2px hsl(253, 25%, 60%),
  2px 0 10px 2px hsl(253, 25%, 60%)  
  ;
  transition-duration:.5s;
}
.bio > ul{
  
  font-size:var(--font-400);
  text-align:left;
  padding:1.5rem;
}
.bio > ul > li {
  margin-bottom:1rem;
  display: flex;
  justify-content: center;
  align-items:center
  
}
.bioHeads {
  display: inline-block;
  width:40%;
}
.bioAns {
  display: inline-block;
  width:60%;
  font-family: 'Roboto Mono', monospace;
}

.frameworkIcons::after {
  content:" ";
  margin:.5rem 0 0 .5rem;
  display:inline-block;
  width: var(--font-400);
  height: var(--font-400);
  mask-repeat:no-repeat;  
  mask-size:cover
  
  
}
#reactIcon::after{
  background-color:#61dafb;
  mask-image:url(../public/react-logo.svg)
}
#nextIcon::after{
  background-color:white;
  mask-image:url(../public/nextjs-logo.svg)
}
#djangoIcon::after{
  background-color:white; 
  mask-image:url(../public/django-logo.svg)
}

.bioPara {
  font-size:var(--font-400);
  
}
.skillsImg{ 
  position:relative;
  height:15rem;
  
}
.projectLinks {
  text-decoration: none;
  color:white;
  font-size:var(--font-500);
}
.socialLinks{
  font-size:var(--font-xl)
}
.socialLinks  > a {
  color:white;
  text-decoration: none;
}
#fbLink{
  color:#3a5593 !important;
}
#instaLink{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
}
#stackLink{
  color:#ec7c23 !important
}
#linkedinLink{
  color:#0e76a8 !important
}