
.profileImg{ 
  border-radius:60%;
  border:.2rem solid var(--bs-dark) !important;  

}
.profileImgCover {
  width:50%;
  margin:0 auto;
  text-align: center;
} 
.bio {
  box-shadow:
  -2px 0 10px 2px hsl(253, 25%, 50%),
  2px 0 10px 2px hsl(253, 25%, 50%)  
  ;
  
  background-color:var(--theme-foreground-clr)
}
.bio  ul{
  list-style: none;
  font-size:var(--font-600);
  text-align:left;
  padding:1.25rem;
}




/* create a class for common padding patterns */