
.profileImg{ 
  border-radius:60%;
  border:.2rem solid var(--bs-dark) !important;  

}
.profileImgCover {
  width:50%;
  margin:0 auto;
  text-align: center;
} 
.bio  ul{
  list-style: none;
  font-size:var(--font-400)
}



/* create a class for common padding patterns */