
.profileImg{ 
  border-radius:60%;
  border:.2rem solid var(--bs-dark) !important;  

}
.profileImgCover {
  width:50%;
  margin:0 auto;
  text-align: center;
} 
.aboutMe{
  margin-top:10rem;
  font-size:var(--font-500);

  line-height:2rem;

}

/* create a class for common padding patterns */